<!DOCTYPE html>
<html>
<head>
  <title>Recipe Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <hgroup>
    <div id="header">
      <h1><%= SITE_TITLE %></h1>     
      <h2><%= SITE_DESCRIPTION %></h2>
    </div>
    </hgroup>
  </header>
 
  <div id="image">
    <img src="http://d1xejl9xcsndu9.cloudfront.net/wp-content/uploads/2012/12/MezeRecipes_000005554589-istock_636x431.jpg"/>
  </div>
  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>Recipes taken from <a href="http://www.mamaslebanesekitchen.com/">Mama's Lebanese Kitchen</a></small></p>
  </footer>
</body>
</html>
